<form action="/post-excluir-apresentacao" method="post">
    <h1>Excluir APRESENTAÇÃO</h1>
    <input type="hidden" name="id" value="{{apresentacao.id}}">
    <input type="hidden" name="ra_criador" value="{{apresentacao.ra_criador}}">
    <p>Participante 1:</p> 
    <input type="text" name="participante1" value="{{apresentacao.participante1}}"> <br>
    <p>Participante 2:</p> 
    <input type="text" name="participante2" value="{{apresentacao.participante2}}"> <br>
    <p>Participante 3:</p> 
    <input type="text" name="participante3" value="{{apresentacao.participante3}}"> <br>
    <p>Participante 4:</p> 
    <input type="text" name="participante4" value="{{apresentacao.participante4}}"> <br>
    <p>Participante 5:</p> 
    <input type="text" name="participante5" value="{{apresentacao.participante5}}"> <br>
    <p>Participante 6:</p> 
    <input type="text" name="participante6" value="{{apresentacao.participante6}}"> <br>
    <p>Musica:</p> 
    <input type="text" name="musica" value="{{apresentacao.musica}}"> <br>
    <p>Tem certeza que deseja excluir a apresentação?</p>
    <input type="submit" value="Excluir">
    <a href="/listar-todas-apresentacao"><input type="button" value="Cancelar"></a>
</form>