<div class="lista">
    <h1>Lista dos MEUS PROJETOS</h1>
    <table border="10px">
        <tr>
            <td><b> CPF do criador </b></td>
            <td><b> Nome do criador </b></td>
            <td><b> Participante 1 </b></td>
            <td><b> Participante 2 </b></td>
            <td><b> Participante 3 </b></td>
            <td><b> Descrição </b></td>
            <td><b> Editar </b></td>
            <td><b> Excluir </b></td>
            <td><b> Visualizar interessados </b></td>
        </tr>
        {{#each projetos}}
        <tr>
            <td>{{cpf_criador}}</td>
            <td>{{nome_criador}}</td>
            <td>{{participante1}}</td>
            <td>{{participante2}}</td>
            <td>{{participante3}}</td>
            <td>{{descricao}}</td>
            <td><a href="/editarMeuprojeto/{{id}}">Editar</a></td>
            <td><a href="/excluirMeuprojeto/{{id}}">Excluir</a></td>
            <td><a href="/visualizarInteressados/{{id}}">Visualizar</a></td>
        </tr>
        {{/each}}
    </table>
    <br><br><br><br>
</div>