<form action="/post-votar-apresentacao" method="post">
    <h1>Votar na APRESENTAÇÃO</h1>
    <input type="hidden" name="id" value="{{apresentacao.id}}">
    <p>Participante 1:</p> 
    <input type="text" name="participante1" value="{{apresentacao.participante1}}"> <br>
    <p>Participante 2:</p> 
    <input type="text" name="participante2" value="{{apresentacao.participante2}}"> <br>
    <p>Participante 3:</p> 
    <input type="text" name="participante3" value="{{apresentacao.participante3}}"> <br>
    <p>Participante 4:</p> 
    <input type="text" name="participante4" value="{{apresentacao.participante4}}"> <br>
    <p>Participante 5:</p> 
    <input type="text" name="participante5" value="{{apresentacao.participante5}}"> <br>
    <p>Participante 6:</p> 
    <input type="text" name="participante6" value="{{apresentacao.participante6}}"> <br>
    <p>Música:</p> 
    <input type="text" name="musica" value="{{apresentacao.musica}}"> <br><br>
    <p>Tem certeza que deseja votar nessa apresentação?<br>Você pode votar diversas vezes, porém o seu voto não pode ser desfeito.</p><br>
    <input type="submit" value="Votar">
    <a href="/menu"><input type="button" value="Cancelar"></a>
</form>